<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= link_to user.username, user %>
    <% if user.closed  %>
      <span class="badge bg-primary">closed</span>
    <% end %>
  </p>
</div>
