<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <p>
      <h3><%= link_to(user.username, user) %></h3>
      <p>Has made <%= "#{user.ratings.size}"%> ratings with an average rating of <%= "#{user.average_rating}" %></p>
      <% if user.closed? %>
        <span class="badge text-bg-danger">account closed</span>
      <% end %>
    </p>
  <% end %>
</div>
