<div id="<%= dom_id beer %>">
  <p>
    <strong>Name:</strong>
    <%= beer.name %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= link_to beer.style, beer %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= link_to beer.brewery.name, beer.brewery %>
  </p>

</div>
